@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 18px;
}
header {
    background-color: #00669F;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    font-weight: 400;
    background-color: #1CD1B0;
    padding-left: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    padding-left: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
}

fieldset {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 30vw;
    border: none;
    padding: 20px;
    gap: 20px;
}

legend {
    font-size: 4rem;
    font-weight: 600;
}

fieldset div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="email"], [type="password"] {
    padding: 10px;
    border: 2px solid;
    outline: none;
}

fieldset button {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    background-color: #1CD1B0;
    border: none;
    border-radius: 20px;
}
fieldset p {
    text-align: center;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

footer {
    color: #fff;
    text-align: center;
    font-family: "Roboto","sans-serif";
    font-size: 0.8rem;
    background-color: #00669F;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

@media(max-width: 820px) {

    html {
        font-size: 14px;
    }

    .top-bar {
        text-align: center;
    }

    fieldset {
        width: 70vw;
    }

    .header-logo {
        padding-right: 10px;
    }
}

@media (max-width: 414px) {

    fieldset {
        width: 90vw;
    }
}