@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 18px;
}
header {
    background-color: #00669F;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    font-weight: 400;
    background-color: #1CD1B0;
    padding-left: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    padding-left: 20px;
}

.header-logo img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    background-color: #001D2D;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav ul {
    display: flex;
    gap: 30px;
    padding-right: 20px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #fff;
    opacity: 60%;
}

ul a:hover {
    transform: scale(1.1);
    opacity: 100%
}

main {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #00669F;
    color: #fff;
    font-family: 'Karla', 'sans-serif';
    padding: 2% 6%;
    border-radius: 20px;   
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container-title {
    text-align: center;
    font-size: 1.8rem;
}

.container-title p {
    font-size: 1.3rem;
}

.container-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.3rem;
    
}

.container-inputs div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.container-inputs form {
    width: 50%;
}

input[type="text"], [type="date"] {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

input[type="file"] {
    padding: 10px;
    width: fit-content;
    color: #000000;
}

input[type="checkbox"], [type="radio"] {
    height: 15px;
    width: 15px;
}

select {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.check-poderes {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fff;
}

.check-poderes div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.tipo-personagem div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}

textarea {
    padding: 5px;
    height: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
}

input[type="submit"] {
    width: 50%;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    background-color: #1CD1B0;
    font-size: 1.3rem;
    padding: 15px;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

input[type="submit"]:active {
    background-color: #001D2D;
    color: #fff;
    transition: 0.1s;
}

footer {
    color: #fff;
    text-align: center;
    font-family: "Roboto","sans-serif";
    font-size: 0.8rem;
    background-color: #00669F;
    position:relative;
    width: 100%;
    padding: 10px;
}

@media(max-width: 820px) {

    html {
        font-size: 20px;
    }

    .top-bar {
        text-align: center;
    }


    .header-logo {
        padding-right: 10px;
    }

    .container {
        margin: auto;
        padding: 2% 2%;
    }

    .container-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
