@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #222222;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    background-color: #f2f2f2;
}

main {
    height: calc(100vh - 250px);
}

.cards {
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #222222;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    margin-left: 10px;
}

footer .logo {
    margin-right: 20px;
}

.pizza {
    color: green;
}

.and {
    color: white;
}

.front {
    color: red;
}

.comprando {
    color: #fff;
}

nav {
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.card {
    border-radius: 2%;
}

.card-delivery {
    width: 490px;
    height: 350px;
    background-image: url(../img/delivery.jpg);
}

.card-delivery p {
    color: red;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.card-menu {
    width: 490px;
    height: 350px;
    background-color: #fff;
    padding: 30px;
}

.menu-title {
    color: #FC200C;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    height: 30%;

}

.menu-list {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    line-height: 30px;
}

.menu-list p {
    font-size: 20px;
}