@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bar-top {
    background-color: #222222;
    height: 25px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.bar-top .p1 {
    flex-grow: 25;
}

.bar-top .p2 {
    flex-grow: 1;
}

.bar-top .p3 {
    flex-grow: 1;
}

header {
    background-color: #F0A83E;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.header-menu {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

header a {
    color: #fff;
}

.header-nav li {
    list-style-image: url(../img/pawprint\ 4.png);
    float: left;
    margin: 15px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.logo img {
    height: 20px;
}

.logo-cat-dog {
    color: #fff;
}

.slide-container {
    display: flex;
    justify-content: center;
    height: 410px;
}

.slide {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    height:410px;
    width: 1025px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slide-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide .p1 {
    background-color: #fff;
    height: 54px;
    width: 365px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .p2 {
    font-size: 16px;
    margin: 15px;
}

.slide .p3 {
    color: #fff;
    font-size: 16px;
    background-color: #F0A83E;
    border: 0px;
    border-radius: 5px;
    width: 140px;
    height: 50px;
}

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.highlights h2 {
    font-size: 40px;
    font-weight: 700;  
}

.highlights-links {
    
    display: flex;
    justify-content: center;
    gap: 10px;
}

.highlights-links a {
    color: #666666;
    margin-bottom: 30px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.product-card {
    background-color: #FBFAF6;
    height: 350px;
    width: 290px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card span {
    color: #F0A83E;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}


footer {
    position: relative;
    margin-top: 20px;
}

.subscription {
    height: 60px;
    padding: 20px;
    background-color: #F0A83E;
    display: flex;
    align-items: center;
}

.subscription h2 {
    color: #fff;
    margin-left: 10px;
}

.phone-bar {
    background-color: #3C2313;
    height: 285px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo {
    margin-right: 30px;
}

.icons {
    color: #fff;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    gap: 10px;
    width: 50%;
}

.icons span {
    font-size: 13px;
    color: #666666;
}


.bar-bottom {
    background-color: #222222;
    height: 25px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.location {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 5px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 5px;
}

footer .footer-front {
    color: #fff;
}

footer .logo-cat-dog {
    color: #F0A83E;
}
