@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bar-discount {
    background-color: #1CD1B0;
    height: 38px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

header {
    background-color: #00669F;
    height: 101px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 51px;
    padding: 20px;
    color: #fff;
    background-color: #00669F;
}

.title {
    font-size: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
}

.cards {
    position: relative;
}

.card {
    background-color: #F3F3F3;
    width: 374px;
    height: 597px;
    margin: 10px;
    border-radius: 15px;
}

.card1 {
    position: absolute;
    left: 25%;
    top: 100px;
}

.card2 {
    position: absolute;
    right: 25%;
    top: 100px;
}

.card-image {
    height: 218px;
    width: 100%;
}

.card-image1 {
   background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
   
}


.card-image2 {
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(1\).png);
}

.card-title {
    text-align: center;
    margin-top: 80px;
}

.card-text {
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.button {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    background-color: #00669F;
    width: 145px;
    height: 54px;
    margin: auto;
}

#character-image {
    border-radius: 50%;
    position: relative;
    bottom: -150px;
    left: 33%;
}

#vector {
    position: absolute;
    left: 10px;
    top: 10px;
}