@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 18px;
}

.bar-discount {
    background-color: #1CD1B0;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
}

header {
    width: 100%;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.title {
    background-color: #00669F;
    padding: 1.6rem;
}



h1 {
    font-size: 2.2rem;
    font-weight: 400;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
    padding: 2rem;
    background-color: antiquewhite;
}

.card {
    background-color: #F3F3F3;
    width: 375px;
    height: 600px;
    margin: 0.5rem;
    padding-bottom:0.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.card-image {
    background-repeat: no-repeat;
    height: 36%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image1 {
   background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
   
}


.card-image2 {
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(1\).png);
   
}

.card-image3 {
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(2\).png);
}

.card-image4 {
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(3\).png);
}

.card-title {
    text-align: center;
    margin-top: 60px;
    font-size: 1.2rem;
}

.card-text {
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
    text-align: justify;
    hyphens: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem;
    background-color: #00669F;
    width: 8rem;
    height: 3rem;
}

a {
    text-decoration: none;
    color: #fff;

}

.character-image {
    width: 35%;
    border-radius: 50%;
    position: relative;
    bottom: -50%;
}

.vector {
    position: absolute;
    left: 10px;
    top: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 100%;
    padding: 0.8rem;
    color: #fff;
    background-color: #00669F;
    font-size: 0.8rem;
    text-align: center;
}

footer img {
    position:absolute;
    right: 20px;
    top: 10px;
    height: 30px;
}


@media (max-width: 820px){

    html {
        font-size: 16px;
    }

    .cards {
        align-items: center;
        height: 100%;
    }

    .character-image {
        width: 40%;
    }
}